* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

body>header {
    margin: 0;
    padding: 0;
}

/******************************** CONFIGURAÇÕES NAVBAR ***************************/

.cabecalho-nav {
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    border: 2px solid red;
    width: 1100px;
    margin: auto;
    padding: 0;
    background-color: #212121;
    text-transform: uppercase;
    color: #EFEFEF;
}

nav>h4>a {
    margin-right: 30px;
    color: #EFEFEF;
    font-weight: bold;
}

nav>ul {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 15px;
    font-size: 1.2rem;
    list-style: none;
}

nav>ul>li {
    cursor: pointer;
}

.navbar-nav {
    border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

/******************************** CONFIGURAÇÕES CONTAINER FLUID ***************************/

.container-fluid {
    border: 2px solid black;
    width: 1090px;
    margin-top: 30px;
    padding: 0;
}

/******************************** CONFIGURAÇÕES CONTAINER CARROSEL ***************************/

.carousel {
    border: 2px solid red;
    width: 100%;
}

.img-carousel {
    object-fit: contain;
}

.carousel-descricao {
    position: absolute;
    bottom: 100px;
    left: 150px;
    color: #FFF;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-free {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-free>p {
    border: 2px solid red;
    border: 1px dashed #c3c3c3;
    display: flex;
    align-items: center;
    width: 350px;
    height: 150px;
    margin-right: 10px;
    padding: 20px;
}

p>i {
    border: 1px solid yellow;
    padding: 10px;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-destaques-hoje {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.img-destaque-descricao {
    border: 1px solid yellow;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-destaques {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.image-Destaque {
    border: 2px solid blue;
    width: 300px;
    height: 300px;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO CATEGORIAS ***************************/


.container-categorias {
    border: 2px solid blue;
}

.sessao-categorias {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}
.sessao-categorias li > a {
    width: 135px;
    height: 135px;
    border: 1px dashed #cccccc;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    color: #222;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
}
.sessao-categorias div {
    border: 2px solid black;
    text-align: center;
}

.lista-categoria {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.lista-categoria li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-categorias{
    border: 2px solid red;
    width: 65px;
    height: 65px;
    object-fit: contain;
}
/******************************** CONFIGURAÇÕES CONTAINER  ***************************/
