* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

body>header {
    margin: 0;
    padding: 0;
}

/******************************** CONFIGURAÇÕES NAVBAR ***************************/

.cabecalho-nav {
    border: 2px solid yellow;
    position: fixed;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index:999;
}

.navbar {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    padding: 0;
    background-color: #212121;
    text-transform: uppercase;
    color: #FFFF;
}

nav>h4>a {
    margin-right: 30px;
    font-weight: bold;
}

nav>ul {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 15px;
    font-size: 1.2rem;
    list-style: none;
}

nav>ul>li {
    cursor: pointer;
}

.navbar-nav {
    border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.logo{
    font-weight: 900;
    color: #FFF !important;
}

.navbar-nav a{
    color: #fff !important;
    font-weight: 400;
}
.marcador{
    color:#cc9933 !important ;
}
.notificacao{
    position: absolute;
    border-radius: 50%;
    background-color: #cc9933;
    color: #fff;
    font-size: 8px;
    padding: 5px;
}

/******************************** CONFIGURAÇÕES CONTAINER FLUID ***************************/

.container-fluid {
    border: 2px solid black;
    width: 1090px;
    margin-top: 30px;
    padding: 0;
}

/******************************** CONFIGURAÇÕES CONTAINER CARROSEL ***************************/

.carousel {
    border: 2px solid red;
    width: 100%;
}

.img-carousel {
    object-fit: contain;
}

.carousel-descricao {
    position: absolute;
    bottom: 100px;
    left: 150px;
    color: #FFF;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-free {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-free>p {
    border: 2px solid red;
    border: 1px dashed #c3c3c3;
    display: flex;
    width: 350px;
    height: 100px;
    padding: 20px;
}

p>i {
    border: 1px solid yellow;
    padding: 10px;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-destaques-hoje {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.destaque-img-descricao {
    border: 1px solid yellow;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/img-destaques-hoje.jpg');
    background-size: cover;
    color: #fff;
    width: 310px;
    height: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 23px;
}

.destaque-img-descricao h3 {
    display: flex;
    width: 100%;
    border: 2px solid rebeccapurple;
}

.link-destaques {
    margin-top: 250px;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO FREE ***************************/

.container-destaques {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.image-Destaque {
    border: 2px solid blue;
    width: 300px;
    height: 300px;
}

/******************************** CONFIGURAÇÕES CONTAINER SESSÃO CATEGORIAS ***************************/

.container-categorias {
    border: 2px solid blue;
}

.sessao-categorias {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

.sessao-categorias section {
    border: 2px solid yellow;
    text-align: center;
    margin-right: 20px;
}

.sessao-categorias li>a {
    width: 135px;
    height: 135px;
    border: 1px dashed #cccccc;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    color: #222;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
}

.sessao-categorias div {
    border: 2px solid black;
    text-align: center;
}

.lista-categoria {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.lista-categoria li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-categorias {
    border: 2px solid red;
    width: 65px;
    height: 65px;
    object-fit: contain;
}

/******************************** CONFIGURAÇÕES CONTAINER ARTIGO ICLUSOS  ***************************/

.container-artigos {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.artigos-icluidos {
    border: 1px solid yellow;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/img-artigos-inclusos.jpg');
    background-size: cover;
    color: #fff;
    width: 310px;
    height: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-star;
    align-items: flex-start;
    padding: 23px;
}

/******************************** CONFIGURAÇÕES CONTAINER CAROUSEL  ***************************/

.Box-fotos {
    border: 2px solid red;
    width: 250px;
    height: 250px;
    display: block;
    cursor: pointer;
}

.item {
    border: 2px solid blue;
    margin: 10px;
}

.Carousel-fotos {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 500px;
}

/******************************** CONFIGURAÇÕES CONTAINER LOGO MARCAS  ***************************/

.container-logos-marcas {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-logo {
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/******************************** CONFIGURAÇÕES CONTAINER FREE DELIVERY  ***************************/

.delivery {
    border: 1px dashed #cccccc;
    padding: 20px;
}

.delivery p {
    text-align: center;
}

.icon-tesoura {
    border: 2px solid red;
    position: absolute;
}

/******************************** CONFIGURAÇÕES CONTAINER BLOG  ***************************/

.container-blog {
    border: 2px solid red;
}

.sessao-blog {
    border: 2px solid blue;
    text-align: center;
}

.sessao-post {
    border: 2px solid yellow;
}

.sessao-blog-post {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.sessao-blog-post section {
    display: flex;
    flex-direction: row;
}

.img-blog {
    border: 1px solid black;
    width: 300px;
    height: 370px;
    max-width: 100%;
}

.sessao-post span {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

.sessao-post span p {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    width: 50px;
}

/******************************* CONFIGURAÇÕES CONTAINER RODAPÉ  ***************************/

footer {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    background: #F0F0F0;
}

footer article {
    border: 2px solid yellow;
    width: 1090px;
    margin: auto;
    margin-bottom: 100px;
}

.section-entregas {
    border: 1px solid #cc9933;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #888;
    background-color: #fff;
}

.section-entregas i {
    font-size: 1.5rem;
}

footer aside {
    border: 2px solid green;
    width: 1090px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

footer aside section {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    color: #888;
    width: 350px;
}

.section-contato div {
    border: 2px solid purple;
}

footer aside section h5 {
    border:2px solid red;
    color: #141414;
    margin-bottom: 50px;
}

.section-tags-categorias div {
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
}

.section-tags-categorias p {
    border: 1px solid #888;
    padding: 2px 10px 2px 10px;
    margin: 2px;
}

.section-contato h3 {
    border: 4px solid #141414;
    text-align: center;
    color: #141414;
    margin-bottom: 50px;

}
.section-new-redes-sociais {}

.section-new-redes-sociais .input-newsletter {
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-new-redes-sociais .input-newsletter .search-txt {
    width: 241px;
    text-align: center;
}

.section-new-redes-sociais .input-newsletter a .fa-search {
    font-size: 1.5rem;
    color: #fff;
    background-color: #141414;
    padding: 15px;
}

.section-new-redes-sociais .rede-sociais .lista-redes-sociais {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.rede-sociais ul li {
    border: 2px solid green;
    border-radius: 50%;
    background-color: #fff;
}

.rede-sociais ul li i {
    font-size: 1.5rem;
    padding: 10px;
}

.bandeiras ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1090px;
}

.bandeiras ul li {
    list-style: none;
}